:root{
    --vermelho:#E50914;
    --preto:rgb(12, 1, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black','Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

header nav a{
    text-decoration: none;
    color: antiquewhite;
    margin-right: 10px;
    font-size: 20px;

}

header nav a :hover {
    color: #fff;
}

/*definições do filme-principal*/
.filme-principal{
    font-size: 16px;
    background: url('capa-house.jpg');
    height: 400px;
    background-size: cover;
}